<mat-card class="substitution-card">
  <div class="datetime-field">
    <mat-form-field class="date-field">
      <input matInput [matDatepicker]="picker" placeholder="Choose a activation date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="time-field">
      <mat-label>Number</mat-label>
      <mat-select>
        <mat-option *ngFor="let num of subjectNumbers" [value]="num">{{num}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="groups-param">
    <div class="groups-control">
      <button mat-stroked-button
              (click)="onAddGroup()">Add group</button>
    </div>
    <div class="groups">
      <div class="group-parameters" *ngFor="let group of substitutionObj.groups">
        <div class="groups-field">
          <mat-form-field>
            <mat-label>Group</mat-label>
            <mat-select [ngModel]="group.name">
              <mat-option *ngFor="let groupName of groups" [value]="groupName">
                {{groupName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="subgroups">
          <mat-checkbox [ngModel]="group.subgroup.a">A</mat-checkbox>
          <mat-checkbox [ngModel]="group.subgroup.b">B</mat-checkbox>
        </div>
        <button mat-stroked-button *ngIf="substitutionObj.groups.length>1" (click)="onDeleteGroup(group)">-</button>
      </div>
    </div>
  </div>

  <div class="substitution-mode">
    <mat-slide-toggle [(ngModel)]="disabledSubject">Disable subject</mat-slide-toggle>
  </div>
  <ng-template [ngIf]="!disabledSubject">
    <p class="subject-values">
      <mat-form-field>
        <mat-label>Lesson</mat-label>
        <mat-select>
          <mat-option *ngFor="let lesson of lessons" [value]="lesson">
            {{lesson}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Teacher</mat-label>
        <mat-select>
          <mat-option *ngFor="let teacher of teachers" [value]="teacher">
            {{teacher}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Audience</mat-label>
        <mat-select>
          <mat-option *ngFor="let audience of audiences" [value]="audience">
            {{audience}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </ng-template>
</mat-card>
